[Unit]
Description=Virtuozzo memory management daemon

[Service]
PIDFile=/var/run/vcmmd.pid
ExecStart=/usr/sbin/vcmmd
Restart=on-failure
LimitCORE=268435456

[Install]
WantedBy=multi-user.target
