[Unit]
Description=@PRODUCT_NAME_SHORT@ memory management daemon
Wants=virtqemud.service
Before=postgresql.service nginx.service docker.service
After=virtqemud.service

[Service]
Type=dbus
BusName=com.virtuozzo.vcmmd
PIDFile=/run/vcmmd.pid
ExecStart=/usr/sbin/vcmmd
Restart=always
RestartSec=5
LimitCORE=268435456
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
